.button {
  padding: 0.2rem;
  margin-top: 0.5rem;
  background-color: blueviolet;
  border-radius: 8px;
}
.button:hover {
  background-color: rgb(103, 10, 190);
}
.button:disabled,
.button:disabled:hover,
.button:disabled.active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
