.input-wrapper input {
  font: inherit;
  border-radius: 6px;
  width: 100%;
  padding: .5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
.input-label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}
.input-wrapper input:focus, .input-wrapper input:hover{
  outline: none;
  border-color: rgba(117, 117, 117);
}
