* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: gray;
  font-family: sans-serif;
}
.header {
  max-width: 500px;
  height: 300px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.btn {
  color: aliceblue;
  background-color: black;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  padding: 3px 0;
  margin-top: 10px;
}
