.groupItems {
  width: 400px;
  margin: 1.5rem auto;
}
.groupItems li {
  font-size: 0.8rem;
  list-style: none;
}
.groupItems li span {
  display: flex;
  justify-content: flex-end;
}
.groupItems li span button {
  color: rgb(189, 187, 187);
  background-color: white;
}
.groupItems button {
  padding: 0.2rem;
  margin-top: 0.5rem;
  background-color: blueviolet;
  border-radius: 8px;
}
