.groupItems {
  margin-right: 1rem;
  margin-top: 1rem;
}
.groupItems li {
  font-size: 0.8rem;
  list-style: none;
  width: 8rem;
}
.groupItems li span {
  display: flex;
  justify-content: flex-end;
}
.groupItems li span button {
  color: rgb(189, 187, 187);
  background-color: white;
}
