.groups {
  margin: 1rem 1.5rem;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title a {
  text-decoration: none;
  color: rgb(10, 117, 51);
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images div {
  height: 5rem;
}
.groupItem {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow-x: auto;
}
