.newEvent {
  text-decoration: none;
}
.newEvent-wrapper {
  border-bottom: 5px solid rgb(231, 228, 228);
  margin: auto 1.5rem;
}
.newEvent p {
  display: inline-block;
  margin: 4rem 1.5rem 0 0;
  color: #000;
  padding: 1rem 0;
}
