.event-items {
  width: 120px;
  height: 150px;
  margin: 1.5rem auto;
  position: relative;
}

.event-item__link {
  border-radius: 8px;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.event-item__image {
  width: 100%;
}
.event-item__image-wrapper{
  font-size: 0.8rem;
  list-style: none;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
}

.event-item__title {
  position: relative;
  bottom: 0;
  z-index: 10;
  color: #fff;
  margin: 0;
  text-shadow: 1px 1px 1px #000;
}

