.footer {
  position: fixed;
  z-index: 20;
  bottom: 0;
  height: 2rem;
  background-color: rgb(250, 250, 250);
  width: 100%;
  border-top: 1px solid rgba(177, 175, 175, 0.2);
}
.footer h2 {
  font-size: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
