.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 20;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem auto;
  box-shadow: 0 1px 3px rgba(97, 96, 96, 0.2);
}

.header h1 {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  font-weight: bolder;
  color: rgb(246, 88, 88);
}
.header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding-right: 1rem;
}
.header li {
  margin: 0.3rem;
}

.header a {
  text-decoration: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(246, 88, 88);
  padding-bottom: 0.1rem;
  border-bottom: 2px solid rgb(246, 88, 88);
}
