li {
  list-style: none;
}
.detail-wrapper {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}
.detail__img {
  width: 100%;
  max-height: 500px;
  background-position: center center/cover;
}
.detail__title {
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
}
.detail-wrapper__date {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(231, 228, 228);
}
.detail__date {
  margin-left: 0.3rem;
}
.detail-wrapper__location {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(231, 228, 228);
  margin-bottom: 1rem;
}
.detail__location {
  margin-left: 0.3rem;
}
.detail__desc {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 8px solid rgb(231, 228, 228);
}
