.search__wrapper{
    width: 90%;
    max-width: 40rem;
    margin:auto;
    margin-bottom: 5rem;
}
.search__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}