.search__item {
  margin-bottom: 1rem;
}
.search__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.search__image {
  border-radius: 0.5rem;
  opacity: 0.7;
  width: 200px;
  height: 200px;
}
.search__title {
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  bottom: 10%;
}
