.authForm {
  margin-top: 3rem;
  width: 300px;
  margin: 3.5rem auto;
  margin-bottom: 2rem;
  border: 1px solid rgba(230, 230, 230);
  padding: 3rem;
  border-radius: 0.5rem;
}

.authForm h2 {
  text-align: center;
  font-weight: bold;
  margin: 0.5rem;
}
.authForm p {
  font-size: 14px;
  text-align: center;
  font-family: inherit;
  margin-bottom: 2rem;
}
.authForm p button {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: #008294;
}
.authForm form {
  text-align: center;
}

.authLink {
  display: block;
  border: 1px solid rgba(230, 230, 230);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.authForm input {
  background-color: rgb(231, 236, 245);
  border: 1px solid rgb(212, 218, 228);
}
.authForm label {
  text-align: left;
}
