.auth-form {
  width: 70%;
  margin: 5rem auto;
  border: 1px solid rgba(230, 230, 230);
  padding: 3rem;
  border-radius: 0.5rem;
}

.auth-form__header {
  text-align: center;
  font-weight: bold;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.auth-form__text {
  font-size: 14px;
  text-align: center;
  font-family: inherit;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.auth-form__button {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: #008294;
  text-align: center;
  font-size: 1rem;
}

.auth-form__link {
  display: block;
  border: 1px solid rgba(230, 230, 230);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.auth-form__input {
  background-color: rgb(231, 236, 245);
  border: 1px solid rgb(212, 218, 228);
}
@media (min-width: 40rem) {
  .auth-form {
    max-width: 25rem;
  }
}
