.calendar {
  margin: 2rem auto;
  width: 90%;
}
.calendar__empty{
  border-bottom: 5px solid rgb(231, 228, 228);
  padding-bottom: 1rem;
}
.calendar__list{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.calendar__wrapper {
  margin-bottom: 2rem;
}

.header__wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.header__title{
  margin-top: 2rem;
}
.header__desc{
  margin-top: 2rem;
}
.header__image{
  width: 100%;
  margin-top: 2rem;
}

@media (min-width:640px){
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .header__wrapper{
    flex-direction: column;
  }
  .header__title{
    font-size: 1.5rem;
  }
  .header__desc{
    font-size: 1.5rem;
  }
  .calendar {
    width: 40rem;
  }
 
} 
