.delete {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: rgb(246, 88, 88);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  width: 12%;
  min-width: 4.8rem;
}
.calendarItem-container {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.calendarItem__item {
  list-style: none;
  border-top: 1px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar-wrapper {
  display: flex;
  align-items: center;
}
.calendarItem-text {
  width: 70%;
}
.calendarItem__title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.calendarItem__desc {
  margin-bottom: 0.5rem;
}
.location-wrapper {
  display: flex;
  align-items: center;
}
.calendarItem__location {
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}
.calendarItem__img {
  width: 100%;
  min-width: 98px;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
/* @media (min-width: 640px) {
  .calendarItem__item {
    border: 1px solid rgb(231, 228, 228);
    max-width: 100%;
    height: 10rem;
    overflow: hidden;
    justify-content: center;
  }
 
} */

/* @media (min-width: 720px) and (max-width:799px){
  .calendarItem__item {
    width: 13rem;
  }}
  @media (min-width: 800px) {
    .calendarItem__item {
      width: 70rem;
    }
  } */
