.calendarItem-container {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.calendarItem__item {
  list-style: none;
  border-top: 1px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendarItem__title{
  width: 70%;
}
.calendarItem__img {
  width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
/* @media (min-width: 640px) {
  .calendarItem__item {
    border: 1px solid rgb(231, 228, 228);
    max-width: 100%;
    height: 10rem;
    overflow: hidden;
    justify-content: center;
  }
 
} */

/* @media (min-width: 720px) and (max-width:799px){
  .calendarItem__item {
    width: 13rem;
  }}
  @media (min-width: 800px) {
    .calendarItem__item {
      width: 70rem;
    }
  } */

