.delete {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: rgb(246, 88, 88);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  width: 12%;
  min-width: 4.8rem;
}
.calendarItem-container {
  margin-bottom: 3rem;
}

.calendarItem__item {
  list-style: none;
  border-top: 1px solid rgb(231, 228, 228);
  display: flex;
  justify-content: space-between;
}
.calendar-wrapper {
  display: flex;
  align-items: center;
}
.calendarItem-text {
  width: 70%;
  margin-top: 1rem;
  height: 200px;
}
.calendarItem__title {
  margin-bottom: 0.5rem;
}
.calendarItem__desc {
  margin-bottom: 0.5rem;
}
.location-wrapper {
  display: flex;
  align-items: center;
}
.calendarItem__location {
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}
.calendarItem__img {
  width: 100%;
  min-width: 98px;
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
