.input {
  padding: 10px;
  width: 90%;
  max-width: 40rem;
  margin: 40px auto;
}

.input label {
  display: block;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.input input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}
.input input:focus {
  outline: none;
  border-color: grey;
}
