body {
  background-color: black;
}
.form-controler {
  margin: 40px auto;
  border-radius: 0.5em;
  background-color: white;
  width: 500px;
}
.form-controler__items {
  padding: 10px;
}

.form-controler__items lable {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.form-controler__items input {
  display: block;
  width: 100%;
  margin-top: 5px;
}
