.comment-wrapper {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
}
.comment__title {
  margin-bottom: 1rem;
}
.event-attend {
  position: fixed;
  bottom: 59px;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(97 96 96 / 40%);
}
.attend-button__wrapper {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
}
.attend-button {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: rgb(246, 88, 88);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  width: 30%;
}
.attend-button--active,
.attend-button--active:disabled {
  background-color: grey;
}

@media (min-width: 40rem) {
  .event-attend {
    bottom: 0;
  }
}
