.datail {
  /* margin: 5rem; */
}
li {
  list-style: none;
}
.detail__img{
  width: 100%;
  background-position: center/cover;
  margin-bottom: 1rem;
}

.detail__title {
  font-size: 2rem;
  margin: 1rem;
}

.detail__desc {
  margin-bottom: 1rem;
}

.btn {
  padding: 0.1rem;
  margin-top: 0.3rem;
  background-color: blueviolet;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  margin-top: 1rem;
}
