.groups {
  margin: 1.5rem auto;
  z-index: auto;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.5rem;
}

.images div {
  height: 5rem;
}
.groupItem {
  display: flex;
  justify-content: space-between;
}
