.groups {
  width: 400px;
  margin: 3.5rem auto;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title a {
  text-decoration: none;
  color: rgb(10, 117, 51);
}

.images div {
  height: 5rem;
}
.groupItem {
  max-width: 100%;
}
