.datail {
  margin: 5rem;
  text-align: center;
}
.card {
  width: 200px;
  margin: 1rem auto;
}
li {
  list-style: none;
}

li h4 {
  margin-bottom: 1rem;
}
li h5 {
  margin-bottom: 0.5rem;
}

li p {
  margin-bottom: 1rem;
}

.btn {
  padding: 0.1rem;
  margin-top: 0.3rem;
  background-color: blueviolet;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  margin-top: 1rem;
}
